body {
    background: linear-gradient(135deg, #fbc2eb 0%, #a6c1ee 50%, #ffecd2 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 500px;
    margin: auto;
}

footer {
    margin-top: auto;
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
}
